*{
    box-sizing: border-box;
    background-color: rgb(249, 242, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

footer {
    display: flex;
    flex-flow: wrap row;
    height: 450px;
}

#logotipo {
    width: 200px;
}

.item-direccion img{
    width: 24px;
    margin-right: 10px;
}

[id|="col"]{
    display:flex;
    flex-direction: column;
    padding: 30px;
}

#col-1, #col-3 {
    flex: 1 1 200px;

}

#col-2 {
    flex-grow: 3;
    padding-left: 150px;
}

.item-direccion {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
}

#col-2 a{
    max-width: fit-content;
    padding-bottom: 10px;
    text-decoration: none;
    color: rgb(66, 40, 1);
}

#col-2 a:hover {
    color: rgb(194, 175, 39)
}